<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
       point="org.eclipse.ui.propertyPages">
     <page
            class="com.beust.doclipse.preferences.MainPage"
            id="Page1"
            name="Doclipse">
             <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>
      </page>
    
      <page
            category="Page1"
            class="com.beust.doclipse.preferences.ExternalFilesPage"
            id="Page3"
            name="External files">
             <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            category="Page1"
            class="com.beust.doclipse.preferences.template.TemplatePage"
            id="Page4"
            name="doclipse templete">
             <enabledWhen>
             <or>
             <test
              property="doclipse.propertyTester1.hasDoclipse" forcePluginActivation="true">
       			 </test>
       			 <and>
       			  <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		    	 </adapt>   
       			 </and>
       			   
             </or>
		        
         </enabledWhen>
      </page>
 </extension>
 <extension
       id="doclipse_doc"
       point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
   <javaCompletionProposalComputer
      class="com.beust.doclipsen.JavaCompletionProposalComputer"
      activate="true">
      <partition
            type="__java_javadoc">
      </partition>
   </javaCompletionProposalComputer>
 </extension>
 <extension
       id="com.beust.doclipse.builder.DoclipseBuilder"
       name="DoclipseBuilder"
       point="org.eclipse.core.resources.builders">
    <builder
          hasNature="true"
          isConfigurable="true"
          callOnEmptyDelta="true">
       <run
             class="com.beust.doclipse.builder.DoclipseBuilder">
       </run>
    </builder>
 </extension>
 <extension
       id="com.beust.doclipse.builder.DoclipseNature"
       name="DoclipseNature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.beust.doclipse.builder.DoclipseNature">
       </run>
    </runtime>
    <builder
          id="com.beust.doclipse.builder.DoclipseBuilder">
    </builder>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com.beust.doclipse.command.handler.BuildHandler"
          commandId="doclipse.command.build">
    </handler>
 </extension>
 <extension
       id="goclipse.build"
       name="build"
       point="org.eclipse.ui.commands">
    <command
          id="doclipse.command.build"
          name="doclipseBuild">
    </command>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="com.beust.doclipse.shortcut.DoclipseLaunchShortcut"
          icon="icon/goclipse.ico"
          id="doclipse.shortcut1"
          label="doclipse"
          modes="run">
       <contextualLaunch>
          <contextLabel
                label="goclipse Build"
                mode="run">
          </contextLabel>
         <enablement>
    <with variable="selection">
     <count value="1"/>
      <iterate>
       <or>
         <test
              property="doclipse.propertyTester1.isDoclipse" forcePluginActivation="true">
        </test>
        <and>
         <test property="org.eclipse.jdt.launching.isContainer"/>
          <test property="org.eclipse.jdt.launching.hasProjectNature" args="com.beust.doclipse.builder.DoclipseNature"/>
        </and>
        
        </or>
      </iterate>
     </with>
  </enablement>
       </contextualLaunch>
    </shortcut>
 </extension>
 <!--  控制台 -->
 <extension
       point="org.eclipse.ui.console.consoleFactories">
    <consoleFactory
          class="com.beust.doclipse.console.ConsoleFactory"
          label="goclipse">
    </consoleFactory>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="com.beust.doclipse.launch.tester.PropertyTester1"
          id="doclipse.propertyTester1"
          namespace="doclipse.propertyTester1"
          properties="isDoclipse,hasDoclipse"
           type="org.eclipse.core.runtime.IAdaptable">
    </propertyTester>
 </extension>
</plugin>
