<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
       point="org.eclipse.ui.propertyPages">
     <page
            class="com.beust.doclipse.preferences.MainPage"
            id="Page1"
            name="Doclipse">
             <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            category="Page1"
            class="com.beust.doclipse.preferences.InternalFilesPage"
            id="Page2"
            name="Internal files">
             <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            category="Page1"
            class="com.beust.doclipse.preferences.ExternalFilesPage"
            id="Page3"
            name="External files">
             <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>
      </page>
 </extension>
 <extension
       id="doclipse_doc"
       point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
   <javaCompletionProposalComputer
      class="com.beust.doclipsen.JavaCompletionProposalComputer"
      activate="true">
   </javaCompletionProposalComputer>
 </extension>
</plugin>
