<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
       point="org.eclipse.ui.propertyPages">
     <page
            class="com.beust.doclipse.preferences.MainPage"
            id="Page1"
            name="Doclipse">
             <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            category="Page1"
            class="com.beust.doclipse.preferences.InternalFilesPage"
            id="Page2"
            name="Internal files">
             <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            category="Page1"
            class="com.beust.doclipse.preferences.ExternalFilesPage"
            id="Page3"
            name="External files">
             <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            category="Page1"
            class="com.beust.doclipse.preferences.template.TemplatePage"
            id="Page4"
            name="templete">
             <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>
      </page>
 </extension>
 <extension
       id="doclipse_doc"
       point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
   <javaCompletionProposalComputer
      class="com.beust.doclipsen.JavaCompletionProposalComputer"
      activate="true">
      <partition
            type="__java_javadoc">
      </partition>
   </javaCompletionProposalComputer>
 </extension>
 <extension
       id="com.beust.doclipse.builder.DoclipseBuilder"
       name="DoclipseBuilder"
       point="org.eclipse.core.resources.builders">
    <builder
          hasNature="true"
          isConfigurable="true"
          callOnEmptyDelta="true">
       <run
             class="com.beust.doclipse.builder.DoclipseBuilder">
       </run>
    </builder>
 </extension>
 <extension
       id="com.beust.doclipse.builder.DoclipseNature"
       name="DoclipseNature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="com.beust.doclipse.builder.DoclipseNature">
       </run>
    </runtime>
    <builder
          id="com.beust.doclipse.builder.DoclipseBuilder">
    </builder>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com.beust.doclipse.command.handler.BuildHandler"
          commandId="doclipse.command.build">
    </handler>
 </extension>
 <extension
       id="goclipse.build"
       name="build"
       point="org.eclipse.ui.commands">
    <command
          id="doclipse.command.build"
          name="doclipseBuild">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.popup.any">
       <menu
             label="doclipse">
             <visibleWhen>
              <iterate ifEmpty="false">
                 <adapt type="org.eclipse.jdt.core.IJavaElement">
                   <instanceof value="org.eclipse.jdt.core.IJavaElement" />
                 </adapt>
              </iterate>
          </visibleWhen>
           <command
              commandId="doclipse.command.build"
              label="build"
              style="push">
          </command>
       </menu>
    </menuContribution>
 </extension>
</plugin>
